.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 3rem;
  // margin-left: 6rem;

  @include media-burger {
    margin-top: 2.85rem;
    display: none;
  }

  // @include media-mobile {
  //   display: none;
  // }
}

.navigation .active {
  border-bottom: 0.2rem solid $color-primary;
  color: $color-light-s;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.navigation__link > a {
  @include font(normal, 400, 1.5rem, 2.4rem);
  // text-decoration: none;
  // cursor: pointer;
  color: $color-dark-s;
  padding-bottom: 0.3rem;
}

.our-pets .navigation__link > a {
  color: $color-dark-3xl;
}

// .navigation__link > a:active {
//   border-bottom: 0.2rem solid $color-primary;
// }

.navigation__link:not(:first-child) {
  margin-left: 3.5rem;
}

.navigation__link:hover > a:not(.disabled-link) {
  transition: 0.3s;
  border-bottom: 0.2rem solid $color-primary;
}
