.friends {
  background-color: $color-light-l;
  padding-bottom: 10rem;

  h3 {
    text-align: center;
    padding: 8rem 0 6rem 0;
  }
}

.main .carusel {
  padding-bottom: 6rem;
}

.our-pets.friends {
  padding-bottom: 3.6rem;
  h3 {
    padding: 8.5rem 0 6rem 0;
  }
}

.friends__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-wrapper {
  width: 99rem;
  padding: 0 5rem;
  overflow: hidden;
}

.our-pets .carousel-wrapper {
  width: 100%;
  padding: 0;
}

.pet-card {
  background-color: $color-light-s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  cursor: pointer;
  
  border-radius: 0.9rem;
}

.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover .button__learn {
  background-color: $color-primary-light;
}

.our-pets .pet-card {
  margin-bottom: 3.2rem;
}

.pet-name {
  padding: 2.5rem 0 2.8rem 0;
}

.button__friends {
  text-align: center;
  // margin-top: 6rem;
  margin: 0 auto;
  width: 17.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .double-row-left {
    background-image: url('../../src/img/pagination/double_rows_left.png');
  }
  .row__left {
    background-image: url('../../src/img/pagination/row_left.png');
  }
  .row__right {
    background-image: url('../../src/img/pagination/row_active_right.png');
  }

  .double-row-right {
    background-image: url('../../src/img/pagination/double_rows_active_right.png');
  }

  .row:not(:first-child) {
    margin-left: 1.8rem;
  }

  .number {
    text-align: center;
    background-color: $color-primary;
    h4 {
      padding-top: 1rem;
    }
  }
}

.row {
  // border: 0.2rem solid $color-primary;
  border: 0.2rem solid $color-dark-s;
  border-radius: 100%;
  // padding: 1.5rem 1.7rem;
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-bottom: 6.2rem;
}

.row:hover {
  background-color: $color-primary;
}

.row.active {
  border: 0.2rem solid $color-primary;
}

.slider__row__left {
  background-image: url('../../src/img/our-friends/Arrow-left.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider__row__right {
  background-image: url('../../src/img/our-friends/Arrow-left.png');
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
