.friends {
  background-color: $color-light-l;
  padding-bottom: 10rem;

  @include media-mobile {
    padding-bottom: 4.2rem;
  }

  h3 {
    text-align: center;
    padding: 8rem 0 6rem 0;

    @include media-mobile {
      padding: 3.2rem 0 4rem 0;
    }
  }
}

// .main .carusel {

.main .item-left,
.item-right,
.item-center {
  padding-bottom: 6rem;
  column-gap: 9rem;
  // margin: 0 1rem 0 1rem;

  @include media-mobile {
    padding-bottom: 11.8rem;
  }
}

.our-pets.friends {
  padding-bottom: 3.6rem;
  @include media-tablet {
    padding-bottom: 7.8rem;
  }
  @include media-mobile {
    padding-bottom: 4.5rem;
  }

  h3 {
    padding: 8.5rem 0 6rem 0;
    @include media-tablet {
      padding: 8rem 0 3rem 0;
    }
    @include media-mobile {
      padding: 4rem 0 4rem 0;
    }
  }
}

.friends__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include media-mobile {
    // flex-direction: column;
    position: relative;
  }
}

.carousel-wrapper {
  width: 99rem;
  padding: 0 5rem;
  overflow: hidden;
  @include media-tablet {
    padding: 0 1.2rem;
    width: auto;
  }
}

.our-pets .carousel-wrapper {
  width: 100%;
  padding: 0;
  @include media-tablet {
    width: 88%;
  }
}

.pet-card {
  background-color: $color-light-s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  cursor: pointer;
  border-radius: 0.9rem;
  // transition: 3s;
}

.pet-card:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover .button__learn {
  transition: 0.4s;
  background-color: $color-primary-light;
  border: 0.2rem solid $color-primary-light;
}

.our-pets .pet-card {
  margin-bottom: 3.2rem;
  @include media-mobile {
    margin-bottom: 2.5rem;
  }
}

.hidden__mobile {
  @include media-mobile {
    display: none;
  }
}

@include media-tablet {
  .hidden__pet-card {
    display: none;
  }
}

.main .pet-name {
  padding: 2.5rem 0 2.8rem 0;
}

.our-pets .pet-name {
  padding: 2.5rem 0 2.8rem 0;
  @include media-tablet {
    padding: 2.5rem 0 3rem 0;
  }
  @include media-mobile {
    padding: 3rem 0 3rem 0;
  }
}

.button__friends {
  text-align: center;
  // margin-top: 6rem;
  margin: 0 auto;
  width: 17.2rem;
  @include media-mobile {
    margin-top: 0rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  @include media-tablet {
    margin: 0.6rem auto 0rem auto;
    width: 65%;
  }
  @include media-mobile {
    justify-content: space-around;
    margin-top: 1.5rem;
    width: 30rem;
  }

  .double-row-left {
    background-image: url('../../src/img/pagination/double_rows_left.png');
  }
  .row__left {
    background-image: url('../../src/img/pagination/row_left.png');
  }
  .row__right {
    background-image: url('../../src/img/pagination/row_active_right.png');
  }

  .double-row-right {
    background-image: url('../../src/img/pagination/double_rows_active_right.png');
  }

  .row:not(:first-child) {
    margin-left: 1.8rem;

    @include media-tablet {
      margin-left: 2.2rem;
    }
    @include media-mobile {
      margin-left: 0.8rem;
    }
  }

  .number {
    text-align: center;
    background-color: $color-primary;
    h4 {
      padding-top: 1rem;
    }
  }
}

.pagination .row {
  @include media-tablet {
    width: 6vw;
    height: 6vw;
    margin-bottom: 0;
  }
  @include media-mobile {
    width: 15vw;
    height: 15vw;
  }
}

.row {
  // border: 0.2rem solid $color-primary;
  border: 0.2rem solid $color-dark-s;
  border-radius: 100%;
  // padding: 1.5rem 1.7rem;
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-bottom: 6.2rem;

  @include media-tablet {
    width: 10%;
  }

  @include media-mobile {
    width: 15%;
    margin-bottom: 0;
  }
}

.row:hover {
  transition: 0.4s;
  background-color: $color-primary;
  border: 0.2rem solid $color-primary;
}

.row.active {
  border: 0.2rem solid $color-primary;
}

.slider__row__left {
  background-image: url('../../src/img/our-friends/Arrow-left.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  order: -1;

  @include media-mobile {
    position: absolute;
    top: 83%;
    left: 22%;
    order: 0;
  }
}

.slider__row__right {
  background-image: url('../../src/img/our-friends/Arrow-left.png');
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include media-mobile {
    position: absolute;
    top: 83%;
    left: 63%;
    order: 0;
  }
}

// ANIMATION

.carusel {
  display: flex;
  // align-items: center;
  column-gap: 9rem;
  position: relative;
  left: -108rem;
}

@keyframes move-right {
  from {
    // left: -640px;
    left: -108rem;
    @include media-tablet {
    }
    @include media-mobile {
    }
  }
  to {
    left: -216rem;
    @include media-tablet {
    }
    @include media-mobile {
    }
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}

@keyframes move-left {
  from {
    // left: -640px;
    left: -108rem;
    @include media-tablet {
    }
    @include media-mobile {
    }
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}
