.form {
    width: 25%;
    display: grid;
    grid-template-columns: 25% 25% 20% 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'inputCreateName inputCreateName buttonCreateColor buttonCreate'
        'inputUpdateName inputUpdateName buttonUpdateColor buttonUpdate'
        'buttonRace buttonReset buttonGenerateCars buttonGenerateCars';
    grid-gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.create-name {
    grid-area: inputCreateName;
    color: #0000ff;
    font-weight: 800;
}

.create-color {
    grid-area: buttonCreateColor;
    width: 100%;
}

.button-create {
    grid-area: buttonCreate;
}

.update-name {
    grid-area: inputUpdateName;
    color: blue;
    font-weight: 800;
}

.update-color {
    grid-area: buttonUpdateColor;
    width: 100%;
}

.button-update {
    grid-area: buttonUpdate;
}

.button-race {
    grid-area: buttonRace;
}

.button-reset {
    grid-area: buttonReset;
}

.generate-cars {
    grid-area: buttonGenerateCars;
}

.winner-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 30%;
    left: 50%;
    /* background: #21935a4d; */
    /* box-shadow: 0 3px #21935a inset; */
    color: #40c781;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 3rem;
    transition: 0.2s;
}

.grow {
    animation: grow 2s ease 1;
}
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
