* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

.app {
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
}

.button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0.3rem;
    border-radius: 3px;

    transition: 0.2s;
}

.button.disabled-button {
    background-color: gray;
    color: #a8a8a8;
    cursor: none;
    pointer-events: none;
    box-shadow: none;
}

.button {
    background: #40c781;
    box-shadow: 0 -3px #35a76e inset;
}

.button:hover {
    background: #35a76e;
}

.button:active {
    background: #21935a;
    box-shadow: 0 3px #21935a inset;
}

input {
    cursor: pointer;
    border-radius: 3px;
}

input:hover {
    background: #c5c5c5;
}

input:active {
    background: #c5c5c5;
    box-shadow: 0 3px #aeaeae inset;
}

@media screen and (max-width: 700px) {
    .app {
        padding: 0.5rem 1rem;
    }
}

.car-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 88%;
    /* border: 1px solid white; */
    border-bottom: 3px dotted white;
    margin: 0.2rem;
}

.car-block .button.disabled-button {
    background-color: gray;
    color: #a8a8a8;
    cursor: none;
    pointer-events: none;
    box-shadow: none;
}

.car-block .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    background-color: white;
    color: black;
    height: 20px;
}

.car-bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.2rem;
}

.car-top .button {
    width: 60px;
}

.car-name {
    color: yellow;
}

.car-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    /* border-bottom: 3px dotted white; */
    width: 100%;
}

.car-bottom .button {
    width: 20px;
}

.flag {
    width: 40px;
    height: 40px;
    background-image: url(assets/70ba8e659bea014d8c0e.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.car {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 80px;
}

.car svg {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .car {
        top: 10px;
        left: 60px;
        width: 60px;
        height: 30px;
    }
}

.garage {
    transition: 0.2s;
}

.cars-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 1px solid white;
    margin-top: 1rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media screen and (max-width: 700px) {
    .cars-list {
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.5rem;
}

.form {
    width: 450px;
    display: grid;
    grid-template-columns: 25% 25% 20% 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'inputCreateName inputCreateName buttonCreateColor buttonCreate'
        'inputUpdateName inputUpdateName buttonUpdateColor buttonUpdate'
        'buttonRace buttonReset buttonGenerateCars buttonGenerateCars';
    grid-gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.create-name {
    grid-area: inputCreateName;
    color: #0000ff;
    font-weight: 800;
}

.create-color {
    grid-area: buttonCreateColor;
    width: 100%;
}

.button-create {
    grid-area: buttonCreate;
}

.update-name {
    grid-area: inputUpdateName;
    color: blue;
    font-weight: 800;
}

.update-color {
    grid-area: buttonUpdateColor;
    width: 100%;
}

.button-update {
    grid-area: buttonUpdate;
}

.button-race {
    grid-area: buttonRace;
}

.button-reset {
    grid-area: buttonReset;
}

.generate-cars {
    grid-area: buttonGenerateCars;
}

.winner-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 40%;
    left: 50%;
    /* background: gray; */
    /* box-shadow: 0 3px #21935a inset; */
    color: #40c781;
    /* color: white; */
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 3rem;
    transition: 0.2s;
}

.grow {
    animation: grow 2s ease 1;
}
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .form {
        width: 90%;
    }

    .winner-popup {
        top: 50%;
        font-size: 1.8rem;
    }
}

.header {
    margin-bottom: 0.5rem;
}

.header-buttons {
    display: flex;
    justify-content: left;
    justify-items: center;
}

.header-buttons .button {
    margin-right: 0.5rem;
}

.winners {
    transition: 0.2s;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.winners-table {
    margin-top: 0.2rem;
    max-width: 920px;
    margin: 0.2rem;
}

.winner-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.cell {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.2rem;
}

.winner-car.cell {
    padding: 0;
}

.winner-car svg {
    width: 80px;
    height: 30px;
}

