.winners {
    transition: 0.2s;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.winners-table {
    margin-top: 0.2rem;
    max-width: 920px;
    margin: 0.2rem;
}

.winner-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.cell {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.2rem;
}

.winner-car.cell {
    padding: 0;
}

.winner-car svg {
    width: 80px;
    height: 30px;
}
