p {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  font-family: menlo, monospace;
  font-size: 14px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 10vh;

  height: 90vh;

  margin: 5px;
  padding: 5px;

  border: 1px solid;
}

.main::after {
  content: "";
  background-image: url("../../assets/img/bgrd-wave.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.selected {
  background: gray;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.label {
  padding: 1rem;
}

.fileName {
  padding: 1rem;
}

.line-numbers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .line-number {
  margin: 0.2rem;
} */
