.button {
  font-family: 'Georgia', Verdana, serif;
  @include font(normal, 400, 1.7rem, 130%);
  color: $color-dark-3xl;
  letter-spacing: 0.06em;
  // min-width: 12rem;
  text-align: center;
  padding: 1.5rem 4.4rem;
  border-radius: 10rem;
  background-color: $color-primary;
  border: none;
  // transition: 3s;
}

.button a {
  color: inherit;
}

.button:hover,
.modal__close-icon:hover {
  transition: 0.3s;
  background-color: $color-primary-light;
}

.button__learn {
  font-family: 'Georgia', Verdana, serif;
  @include font(normal, 400, 1.7rem, 130%);
  color: $color-dark-3xl;
  letter-spacing: 0.06em;

  padding: 1.3rem 4.3rem;
  border-radius: 10rem;
  background-color: $color-light-s;
  border: 0.2rem solid $color-primary;
}
