%hamburger-line {
  position: relative;
  content: '';
  display: block;
  margin: 8px 0;
  background: $color-primary;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  transition: 1.5s;
}

.hamburger {
  z-index: 3;
  padding-top: 1.1rem;
  display: none;
  // width: 11%;
  width: 3rem;
  cursor: pointer;
  transition: 0.8s;

  &__line {
    @extend %hamburger-line;
  }
  &:before {
    @extend %hamburger-line;
  }
  &:after {
    @extend %hamburger-line;
  }
}

.our-pets .hamburger {
  &__line {
    @extend %hamburger-line;
    background: black;
    transition: 1.5s;
  }
  &:before {
    @extend %hamburger-line;
    background: black;
    transition: 1.5s;
  }
  &:after {
    @extend %hamburger-line;
    background: black;
    transition: 1.5s;
  }
}

.hamburger.opened {
  span.hamburger__line {
    @extend %hamburger-line;
    background: $color-primary;
    transition: 1.5s;
  }
  &:before {
    @extend %hamburger-line;
    background: $color-primary;
    transition: 1.5s;
  }
  &:after {
    @extend %hamburger-line;
    background: $color-primary;
    transition: 1.5s;
  }
}

@include media-burger {
  .hamburger {
    display: inline-block;
  }
}
