$content-width: 1280px;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;
$color-dark-xl: #4c4c4c;
$color-dark-l: #545454;

$color-dark-m: #b2b2b2;
$color-light-l: #f6f6f6;

$desktop-width: 1600px; //1600: wrapper 1160 media-desktop
//1440 1280 1220
$small-desktop-width: 1000px; // 1000: wrapper 940 media-tablet
$tablet-width: 640px; //640: wrapper 600 media-mobile.  +burger
$mobile-width: 320px; //320: wrapper 300 media-mobile
