.menu ul,
.menu .level-list li {
  padding: 0;
  margin: 0;
}

.menu {
  width: 21vw;
  height: 79vh;
  position: absolute;
  /* position: fixed; */
  top: 60px;
  transition: opacity 1s;
  z-index: 2;
  transform: translateZ(0);
  backface-visibility: hidden;
  border: 1px solid transparent;

  background: #bbb9b9;

  padding: 1.5rem;
  /* opacity: 0; */
}

span.no-done::after {
  content: "\2713";
  font-weight: 900;
  font-size: 1.2rem;
  color: white;
}

span.done::after {
  content: "\2713";
  font-weight: 900;
  font-size: 1.2rem;
  color: green;
}

span.is-help::after {
  content: "?";
  font-weight: 900;
  font-size: 1.2rem;
  color: yellow;
}

.level-list {
  list-style-type: none;
}

.level-line {
  cursor: pointer;
}

.level-line:hover {
  padding: 1rem;
  color: white;
  box-shadow: 0 0 10px #0000004d;
  border-radius: 5%;
}

.level-line:active {
  cursor: pointer;
  background-color: #7a7979;
}

.reset-button {
  margin: 3rem auto;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: lightslategray;
  width: 80%;
  background-color: grey;
  border-radius: 5%;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.reset-button:hover {
  box-shadow: 0 0 10px #0000004d;
}

.reset-button:active {
  background-color: #7a7979;
  font-size: 1.6rem;
}

@media (max-width: 1860px) {
  .menu {
    width: 17.5vw;
  }
}

/* @media (max-width: 1460px) {
  .menu {
    width: 17.4vw;
  }
} */
/* 
@media (max-width: 1300px) {
  .menu {
    width: 16vw;
  }
} */

@media (max-width: 1200px) {
  .menu {
    top: 88px;
  }
}

@media (max-width: 1000px) {
  .menu {
    width: 17vw;
  }
}

@media (max-width: 800px) {
  .menu {
    width: 90vw;
  }
}
