.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.5rem;
}
