.container {
  width: 50%;
  margin: 0 auto;
}

.container .cell {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, grey, lightgrey);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  /* border: 10px solid grey; */
}

output {
  font-family: Quartz, monospace;
  font-size: 26px;
  padding: 6px 12px;
  color: red;
  background-color: #000;
}

.table {
  border: 10px solid grey;
  padding: 15px 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table .cell {
  position: relative;
  border: 1px solid rgb(240, 238, 238);
  border-radius: 5%;
}

.container .cell.open {
  background: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid rgb(149, 151, 154);
  border-radius: 5%;
}

.container .cell.open[data-count='1'] {
  color: blue;
}
.container .cell.open[data-count='2'] {
  color: green;
}
.container .cell.open[data-count='3'] {
  color: red;
}
.container .cell.open[data-count='4'] {
  color: #00007b;
}
.container .cell.open[data-count='5'] {
  color: #7b0000;
}
.container .cell.open[data-count='6'] {
  color: #007b7b;
}
.container .cell.open[data-count='7'] {
  color: #000;
}
.container .cell.open[data-count='8'] {
  color: #7b7b7b;
}

.container .cell.mine {
  /* background-color: red; */
  text-align: center;
  font-size: 40px;
  background: url('../img/bomb.png');
  background-size: cover;
  border: 1px solid rgb(154, 149, 149);
  border-radius: 5%;
}

.container .cell.mark::after {
  position: absolute;
  width: 70%;
  height: 80%;
  background: url('../img/red-flag.png');
  background-size: cover;
  left: 20%;
  top: 10%;
  content: '';
}

#start {
  background-color: #0db57a;
  padding: 10px;
}

#start.active {
  background-color: #b50d0d;
  padding: 10px;
}

.overlay_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: rgba(41, 41, 41, 0.6);

  position: fixed;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.modal {
  padding: 5rem;
  background-color: transparent;

  position: absolute;
  overflow: auto;
}

.modal close-icon {
  width: 4.8rem;
  height: 4.8rem;
  border: 0.2rem solid #f1cdb3;
  border-radius: 10rem;
  background-image: url('../img/Vector.png');
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  right: 8px;
  top: 0px;
  cursor: pointer;
}

.modal__finish {
  background-color: white;
  border-radius: 9px;
  width: 25rem;
  display: flex;

  font-family: Quartz, monospace;
  font-size: 26px;
  padding: 6px 12px;
  color: red;
  background-color: #000;
}
