.level {
  grid-column: 7/9;
  grid-row: 1/10;

  margin: 5px;
  padding: 5px;

  border: 1px solid;
}

.level-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  border: 1px solid gray;
  font-size: 1.8rem;
}

.ready-button {
  background-image: url("../../../assets/img/tick-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
}

.prev-row {
  background-image: url("../../../assets/img/row-black.png");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
}

.next-row {
  background-image: url("../../../assets/img/row-black.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
  rotate: 180deg;
}


