.level {
  position: relative;
  grid-column: 7/9;
  grid-row: 1/10;

  margin: 5px;
  padding: 5px;

  border: 1px solid;
}

.level-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  border: 1px solid gray;
  font-size: 1.4rem;
  font-weight: 600;
}

.ready-tick-no-done::after {
  content: "\2713";
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

.ready-tick-done::after {
  content: "\2713";
  font-weight: 900;
  font-size: 2rem;
  color: green;
}

.prev-row {
  background-image: url("../../../assets/img/row-black.png");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  cursor: pointer;
}

.prev-row:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.next-row {
  background-image: url("../../../assets/img/row-black.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
  rotate: 180deg;
  border: none;
  cursor: pointer;
}

.next-row:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hamburger {
  z-index: 3;
  width: 2rem;
  cursor: pointer;
  transition: 0.8s;
}

.hamburger-line,
.hamburger::before,
.hamburger::after {
  position: relative;
  content: "";
  display: block;
  margin: 8px 0;
  background: black;
  border-radius: 2px;
  width: 100%;
  height: 0.2rem;
  transition: 1.5s;
}

.hamburger.opened span.hamburger-line,
.hamburger.opened .hamburger-line::before,
.hamburger.opened .hamburger-line::after {
  position: relative;
  content: "";
  display: block;
  margin: 8px 0;
  background: black;
  border-radius: 2px;
  width: 100%;
  height: 0.2rem;
  transition: 1.5s;
}

.hamburger-closed {
  transform: rotate(90deg);
}

.hide {
  opacity: 0;
}

.show {
  opacity: 100;
}

.examples {
  margin-top: 1rem;
}

@media (max-width: 1600px) {
  .next-row,
  .prev-row {
    height: 1.4rem;
    width: 1.3rem;
  }

  .hamburger {
    width: 1.3rem;
  }

  .ready-tick-no-done::after,
  .ready-tick-done::after {
    font-size: 1.5rem;
  }

  .level-header {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .level-header {
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .hamburger {
    width: 1.5rem;
  }
}
