.css-viewer {
  grid-column: 1/4;
  grid-row: 4/10;
  margin: 5px;
  padding: 5px;
  border: 1px solid;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.css-viewer-header {
  grid-column: 1/11;
  grid-row: 1/2;
  border: 1px solid grey;
  background-color: rgb(187, 185, 185);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-number-lines {
  grid-column: 1/2;
  grid-row: 2/11;
  border: 1px solid grey;
  background-color: rgb(187, 185, 185);
  width: 50%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .line-number {
  
} */

.css-editor {
  grid-column: 2/11;
  grid-row: 2/3;

  display: flex;
  justify-content: space-between;
  align-items: top;
}

.input-css-editor {
  resize: none;
  border: none;
  transition: 0.5s;
  margin: 0.5rem;
  height: 1.5rem;
  width: 100%;
  font-size: 1rem;
  background-color: inherit;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.3rem;
  background-color: lightblue;
}

.input-css-editor:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.blink {
  animation: blink 0.5s linear infinite;
  background-color: none;
}

@keyframes blink {
  0% {
    opacity: 0.7;
  }
  /* 50% {
    opacity: 0.85;
  } */
  100% {
    opacity: 1;
  }
}

.submit-button {
  border: lightslategray;
  margin: 0.5rem;
  height: 2rem;
  width: 20%;
  background-color: grey;
  border-radius: 5%;
  cursor: pointer;
  border: none;
}

.submit-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.submit-button:active {
  background-color: rgb(101, 101, 101);
}

.button-help {
  margin: 0.5rem;
  height: 2rem;
  width: 10%;
  background-color: lightblue;
  border-radius: 5%;
  cursor: pointer;
  border: none;
}

.button-help:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.comments {
  grid-column: 2/10;
  grid-row: 3/10;
  color: grey;
}

@keyframes wrong-shake {
  0% {
    transform: translate(1px, 5px) rotate(-1deg);
  }
  33% {
    transform: translate(1px, 6px) rotate(-2deg);
  }
  66% {
    transform: translate(3px, 6px) rotate(-1deg);
  }
  100% {
    transform: translate(3px, 5px) rotate(-2deg);
  }
}

.shake {
  animation: wrong-shake 0.16s;
  animation-iteration-count: 1;
}
