.html-viewer {
  grid-column: 4/7;
  grid-row: 4/10;

  margin: 5px;
  padding: 5px;

  border: 1px solid;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  cursor: pointer;
  background-color: gray;
}

.html-viewer-header {
  grid-column: 1/11;
  grid-row: 1/2;
  border: 1px solid grey;
  background-color: rgb(187, 185, 185);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html-number-lines {
  grid-column: 1/2;
  grid-row: 2/11;
  border: 1px solid grey;
  background-color: rgb(187, 185, 185);
  width: 50%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.html-block {
  grid-column: 2/10;
  grid-row: 2/10;
  color: black;
  font-size: 1rem;
}

.row-code :hover {
  width: min-content;
  color: white;
}
