.footer {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(192, 190, 190);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.year,
.github,
.rsschool-link {
  margin-left: 1.25rem;
}

.year {
  font-size: 1.5rem;
}

.rsschool-logo a {
  display: block;
  width: 6.69rem;
  height: 2rem;
  background-image: url("../../../assets/img/rs-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.github a {
  display: block;
  width: 6.69rem;
  height: 2.5rem;
  text-decoration: none;

  background-image: url("../../../assets/img/GitHub-Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .footer {
    display: none;
  }
}
