.garage {
    transition: 0.2s;
}

.cars-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 1px solid white;
    margin-top: 1rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media screen and (max-width: 700px) {
    .cars-list {
        width: 100%;
    }
}
