.form {
    width: 25%;
    display: grid;
    grid-template-columns: 25% 25% 20% 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'inputCreateName inputCreateName buttonCreateColor buttonCreate'
        'inputUpdateName inputUpdateName buttonUpdateColor buttonUpdate'
        'buttonRace buttonReset buttonGenerateCars buttonGenerateCars';
    grid-gap: 0.5rem;
}

.create-name {
    grid-area: inputCreateName;
}

.create-color {
    grid-area: buttonCreateColor;
}

.button-create {
    grid-area: buttonCreate;
}

.update-name {
    grid-area: inputUpdateName;
}

.update-color {
    grid-area: buttonUpdateColor;
}

.button-update {
    grid-area: buttonUpdate;
}

.button-race {
    grid-area: buttonRace;
}

.button-reset {
    grid-area: buttonReset;
}

.generate-cars {
    grid-area: buttonGenerateCars;
}

.cars-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 1px solid white;
}

.car-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin: 0.5rem;
}
