html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Arial", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.52rem;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

h2 {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #ffffff;
}

h3 {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}

h5 {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 6%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main .columns {
  flex-wrap: nowrap;
}

.footer__wrapper.columns {
  justify-content: center;
  row-gap: 2rem;
  column-gap: 8rem;
}
@media (max-width: 768px) {
  .footer__wrapper.columns {
    margin-top: 2.5rem;
    column-gap: 4rem;
  }
}

footer {
  background-image: url("../../src/img/footer/footer-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
footer h3 {
  color: #ffffff;
}
footer .left {
  flex-basis: 30%;
}
footer .center {
  flex-basis: 31.6%;
  padding-bottom: 0.5rem;
}
footer .center .footer__info {
  padding-top: 3rem;
}
footer .right {
  width: 30rem;
  height: 31rem;
  background-image: url("../../src/img/footer/footer-puppy.png");
  background-repeat: no-repeat;
  margin-top: 3.5rem;
}

.footer__info {
  padding-top: 3.7rem;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #f1cdb3;
  width: 30rem;
}
.footer__info h4 {
  margin-top: 0.1rem;
  margin-left: 2rem;
  color: #f1cdb3;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4rem 0 4rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
    padding: 0 1rem 0 1rem;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 3rem;
}

.navigation .active {
  border-bottom: 0.2rem solid #f1cdb3;
  color: #fafafa;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.navigation__link > a {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #cdcdcd;
  padding-bottom: 0.3rem;
}

.our-pets .navigation__link > a {
  color: #292929;
}

.navigation__link:not(:first-child) {
  margin-left: 3.5rem;
}

.navigation__link:hover > a:not(.disabled-link) {
  transition: 0.3s;
  border-bottom: 0.2rem solid #f1cdb3;
}

.hamburger {
  display: none;
}

.button {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 1.5rem 4.4rem;
  border-radius: 10rem;
  background-color: #f1cdb3;
  border: none;
}

.button a {
  color: inherit;
}

.button:hover {
  transition: 0.3s;
  background-color: #fddcc4;
}

.button__learn {
  font-family: "Georgia", Verdana, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  padding: 1.3rem 4.3rem;
  border-radius: 10rem;
  background-color: #fafafa;
  border: 0.2rem solid #f1cdb3;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
}

.our-pets .header__wrapper {
  color: #292929;
  padding-bottom: 1rem;
}

.header__left {
  padding-top: 3rem;
}

.header__logo > a {
  text-decoration: none;
  cursor: pointer;
}

.our-pets .header__logo > a {
  color: #545454;
}

.logo__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.495rem;
  letter-spacing: 0.1em;
  padding-left: 0.5rem;
}

.not-only {
  background-image: url("../../src/img/not-only/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.8 rem;
  padding-top: 25.5rem;
  margin-top: -18rem;
}
@media (max-width: 768px) {
  .not-only {
    padding-top: 22.5rem;
  }
}

.not-only__wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .not-only__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.not-only__content {
  max-width: 46rem;
  padding-top: 16.3rem;
}
@media (max-width: 768px) {
  .not-only__content {
    padding-top: 0rem;
  }
}
.not-only__content p {
  color: #cdcdcd;
  padding-top: 2.5rem;
}

.not-only__right {
  background-image: url("../../src/img/not-only/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 69.8rem;
  height: 72.8rem;
}
@media (max-width: 768px) {
  .not-only__right {
    width: 56.9rem;
    height: 59.3rem;
    margin-top: 10rem;
    margin-left: 14rem;
  }
}

.button__not-only {
  padding-top: 2.7rem;
  width: 20.8rem;
}
@media (max-width: 768px) {
  .button__not-only {
    margin: 0 auto;
  }
}

.about__wrapper {
  display: flex;
  align-items: top;
  justify-content: center;
  padding-bottom: 10rem;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about__left {
  background-image: url("../../src/img/about/about-pets.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 8rem;
  margin-right: 12rem;
  width: 30rem;
  height: 40.8rem;
}
@media (max-width: 768px) {
  .about__left {
    margin: 6.5rem 0rem 0 0rem;
  }
}

.about__content {
  max-width: 43rem;
  padding-top: 9.3rem;
}
.about__content h3 {
  color: #545454;
}
.about__content p {
  color: #4c4c4c;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .about__content {
    padding-top: 8rem;
  }
}

.friends {
  background-color: #f6f6f6;
  padding-bottom: 10rem;
}
.friends h3 {
  text-align: center;
  padding: 8rem 0 6rem 0;
}

.main .carusel {
  padding-bottom: 6rem;
  column-gap: 4rem;
}

.our-pets.friends {
  padding-bottom: 3.6rem;
}
.our-pets.friends h3 {
  padding: 8.5rem 0 6rem 0;
}

.friends__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carousel-wrapper {
  width: 99rem;
  padding: 0 5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .carousel-wrapper {
    padding: 0 1.2rem;
    width: auto;
  }
}

.our-pets .carousel-wrapper {
  width: 100%;
  padding: 0;
}

.pet-card {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  cursor: pointer;
  border-radius: 0.9rem;
}

.pet-card:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover .button__learn {
  transition: 0.4s;
  background-color: #fddcc4;
  border: 0.2rem solid #fddcc4;
}

.our-pets .pet-card {
  margin-bottom: 3.2rem;
}

.pet-name {
  padding: 2.5rem 0 2.8rem 0;
}

.button__friends {
  text-align: center;
  margin: 0 auto;
  width: 17.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.pagination .double-row-left {
  background-image: url("../../src/img/pagination/double_rows_left.png");
}
.pagination .row__left {
  background-image: url("../../src/img/pagination/row_left.png");
}
.pagination .row__right {
  background-image: url("../../src/img/pagination/row_active_right.png");
}
.pagination .double-row-right {
  background-image: url("../../src/img/pagination/double_rows_active_right.png");
}
.pagination .row:not(:first-child) {
  margin-left: 1.8rem;
}
.pagination .number {
  text-align: center;
  background-color: #f1cdb3;
}
.pagination .number h4 {
  padding-top: 1rem;
}

.row {
  border: 0.2rem solid #cdcdcd;
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-bottom: 6.2rem;
}
@media (max-width: 768px) {
  .row {
    width: 10%;
  }
}

.row:hover {
  transition: 0.4s;
  background-color: #f1cdb3;
  border: 0.2rem solid #f1cdb3;
}

.row.active {
  border: 0.2rem solid #f1cdb3;
}

.slider__row__left {
  background-image: url("../../src/img/our-friends/Arrow-left.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slider__row__right {
  background-image: url("../../src/img/our-friends/Arrow-left.png");
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.help {
  padding-bottom: 10rem;
}
.help h3 {
  text-align: center;
  padding: 8rem 0 6rem 0;
}
.help h4 {
  margin-top: 3rem;
}

.point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.point__img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
}

.help-wrapper {
  padding: 0 8.7rem;
}
.food-img {
  background-image: url("../../src/img/help/food.png");
}

.transportation-img {
  background-image: url("../../src/img/help/icon-transportation.png");
}

.toys-img {
  background-image: url("../../src/img/help/icon-toys.png");
}

.bowls-img {
  background-image: url("../../src/img/help/icon-bowls-and-cups.png");
}

.shampoos-img {
  background-image: url("../../src/img/help/icon-shampoos.png");
}

.vitamins-img {
  background-image: url("../../src/img/help/icon-vitamins.png");
}

.medicines-img {
  background-image: url("../../src/img/help/medicines.png");
}

.collars-img {
  background-image: url("../../src/img/help/collars-or-leashes.png");
}

.sleeping-img {
  background-image: url("../../src/img/help/sleeping-area.png");
}

.help-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5.5rem;
  column-gap: 10%;
}
@media (max-width: 768px) {
  .help-grid {
    justify-content: space-around;
    align-content: center;
    align-self: center;
    column-gap: 10%;
  }
}

.donation {
  background-color: #f6f6f6;
}

.donation__wrapper {
  padding-bottom: 8.7rem;
  display: flex;
  align-items: top;
  justify-content: center;
}
@media (max-width: 768px) {
  .donation__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
  }
}

.donation__left {
  background-image: url("../../src/img/donation/donation-dog.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 9.2rem;
  margin-right: 3rem;
  width: 50.5rem;
  height: 26.1rem;
}
@media (max-width: 768px) {
  .donation__left {
    margin-top: 5rem;
    margin-right: 0;
  }
}

.donation__content {
  max-width: 38rem;
  padding-top: 8rem;
}
.donation__content h3 {
  padding-bottom: 2rem;
}
.donation__content h4 {
  margin-left: 1.4rem;
}
.donation__content h5 {
  color: #545454;
  padding-bottom: 2rem;
}
.donation__content .donation__text {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #b2b2b2;
}

.payment__button {
  width: 31.9rem;
  border-radius: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
