.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main .columns {
  flex-wrap: nowrap;
}

.our-pets .columns {
  @include media-tablet {
    // justify-content: space-around;
    justify-content: flex-start;
  }
}
