.footer__wrapper.columns {
  justify-content: center;
  row-gap: 2rem;
  column-gap: 8rem;

  @include media-tablet {
    margin-top: 2.5rem;
    column-gap: 4rem;
  }

  @include media-mobile {
    row-gap: 3.5rem;
  }
}

// .our-pets .footer__wrapper.columns {
//   @include media-mobile {
//     row-gap: 4rem;
//   }
// }

footer {
  background-image: url('../../src/img/footer/footer-gradient-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  h3 {
    padding-right: 5rem;
    color: $color-light-xl;

    @include media-tablet {
      padding-right: 0;
    }
    @include media-mobile {
      text-align: center;
      margin: 0 auto;
    }
  }

  .left {
    flex-basis: 30%;
    // @include media-mobile {
    //   text-align: center;
    // }
  }

  .center {
    // flex-basis: 35%;
    flex-basis: 31.6%;
    padding-bottom: 0.5rem;
    @include media-mobile {
      // text-align: center;
    }

    .footer__info {
      padding-top: 3rem;
      @include media-mobile {
        padding-top: 3.8rem;
        margin-left: 0rem;

        display: flex;
        justify-content: flex-start;
      }
    }

    .our-pets .footer__info {
      @include media-mobile {
        padding-top: 4.1rem;
      }
    }

    h3 {
      padding-right: 6rem;

      @include media-tablet {
        padding-right: 0;
      }
      @include media-mobile {
        width: 27rem;
      }
    }
  }

  .right {
    width: 30rem;
    height: 31rem;
    background-image: url('../../src/img/footer/footer-puppy.png');
    background-repeat: no-repeat;
    margin-top: 3.5rem;

    @include media-tablet {
      margin-top: 4rem;
    }
    @include media-mobile {
      margin-top: 0rem;
      // width: 30rem;
      height: 80vw;
      background-size: 92%;
      margin-left: 2rem;
    }
  }
}

footer.our-pets {
  @include media-mobile {
    padding-top: 1rem;
  }
}

.footer__info {
  padding-top: 3.7rem;
  display: flex;
  justify-content: left;
  align-items: center;

  color: $color-primary;
  width: 30rem;

  @include media-mobile {
    justify-content: center;
  }

  h4 {
    margin-top: 0.1rem;
    margin-left: 2rem;
    color: $color-primary;
  }
}
