footer {
  background-image: url('../../src/img/footer/footer-gradient-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3.7rem;

  h3 {
    color: $color-light-xl;
  }

  .left {
    width: 33%;
    padding-top: 1.9rem;
    padding-bottom: 6rem;
  }

  .center {
    width: 35%;
    padding-top: 1.9rem;
    // margin-left:14rem;

    .footer__info {
      padding-top: 3rem;
    }
  }

  .footer .columns {
    flex-wrap: wrap;
  }

  .right {
    width: 25%;
    background-image: url('../../src/img/footer/footer-puppy.png');
    background-repeat: no-repeat;
    // height: 31rem;
    // margin-left:13rem;
  }
}

.footer__info {
  padding-top: 3.5rem;
  display: flex;
  justify-content: left;
  align-items: center;

  color: $color-primary;
  width: 30rem;

  h4 {
    margin-left: 2rem;
    color: $color-primary;
  }
}

.footer__wrapper {
  padding-top: 4rem;
}
