.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-light-s;
}

.our-pets .header__wrapper {
  color: $color-dark-3xl;
  padding-bottom: 1rem;
}

.header__left {
  padding-top: 3rem;
}

.header__logo > a {
  text-decoration: none;
  cursor: pointer;
}

.our-pets .header__logo > a {
  color: $color-dark-l;
}

.logo__subtitle {
  @include font(normal, 400, 1.3rem, 1.495rem);
  letter-spacing: 0.1em;
  padding-left: 0.5rem;
}

// @include media-tablet {}
// @include media-mobile {}
