* {
    box-sizing: border-box;
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

.app {
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
    padding: 2rem;
    background-color: black;
    color: white;
}

.button {
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.8em 1em calc(0.8em + 3px);
    border-radius: 3px;

    transition: 0.2s;
}

.button {
    background: #40c781;
    box-shadow: 0 -3px #35a76e inset;
}

.button:hover {
    background: #35a76e;
}

.button:active {
    background: #21935a;
    box-shadow: 0 3px #21935a inset;
}

input {
    cursor: pointer;
    border-radius: 3px;
}

input:hover {
    background: #c5c5c5;
}

input:active {
    background: #c5c5c5;
    box-shadow: 0 3px #aeaeae inset;
}
